@using Gms.Domain

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}
<body>
    <div id="tabCommonCode" class="easyui-tabs" data-options="fit:true">	
        <div title="民族" style="padding:10px">	
            <iframe style="width: 100%;height:100%;border: none;" src="/CommonCode/TypeInfo?type=@CommonCodeType.民族"></iframe>
        </div>	
        <div title="教育水平" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.教育水平"></iframe>
        </div>
        <div title="客户类别" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.客户类别"></iframe>
        </div>
        <div title="供应商类别" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.供应商类别"></iframe>
        </div>
        <div title="商品类别" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.商品类别"></iframe>
        </div>
        <div title="商品品牌" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.商品品牌"></iframe>
        </div>
        <div title="商品陈列" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.商品陈列"></iframe>
        </div>
        <div title="仓库" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.仓库"></iframe>
        </div>
        <div title="入库业务类型" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.入库业务类型"></iframe>
        </div>
        <div title="出库业务类型" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.出库业务类型"></iframe>
        </div>
        <div title="收入记账类型" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.收入记账类型"></iframe>
        </div>
        <div title="支出记账类型" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.支出记账类型"></iframe>
        </div>
        <div title="计量单位" style="padding:10px">
            <iframe style="width: 100%;height:100%;border: none;" url="/CommonCode/TypeInfo?type=@CommonCodeType.计量单位"></iframe>
        </div>
    </div>
</body>

<script type="text/javascript" src="@Url.Content("/Scripts/CommonCode/CommonCode.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CommonCode.Init();
    });

</script>

