@using Gms.Domain
@model Gms.Domain.CommonCodeType

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>
    <input id="commonCodeType" value="@Model" style="display: none;"/>
    
    <div id="toolbar" style="padding: 5px; height: auto">
        <div>
        </div>
    </div>

    <table id="commoncode_tree" data-options="url:'/CommonCode/GetData?Type=@Model'" ></table>
    
    <div id="commoncode_edit" style="display: none">
        <div id="commoncode_edit_content">
            @{
                Html.RenderPartial("Edit", new CommonCode());
            }
        </div>
    </div>
    
     @*记录选择的编码，便于其他页面调用*@
    <div style="display: none;">
        <input id="commoncode_selected_Id" />
        <input id="commoncode_selected_Name" />
        <input id="commoncode_selected_FullName" />

    </div>

</body>

<script type="text/javascript" src="@Url.Content("/Scripts/CommonCode/CommonCode.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CommonCode.TypeInfo();
    });

</script>
