@using Gms.Domain
@model Gms.Domain.CommonCodeType

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>
    <input id="commonCodeType" value="@Model" style="display: none;"/>
    
    <div id="toolbar" style="padding: 5px; height: auto">
        <div>
            <a href="#" id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">添加</a>
            <a href="#" id="btnEdit" class="easyui-linkbutton" iconcls="icon-remove" plain="true">修改</a>
            <a href="#" id="btnDelete" class="easyui-linkbutton" iconcls="icon-edit" plain="true">删除</a>
            @*<a href="#" id="btnUnSelect" class="easyui-linkbutton" >取消选择</a>*@
        </div>
    </div>

    <table id="commoncode_tree" data-options="url:'/CommonCode/GetData?Type=@Model'" ></table>
    
    <div id="commoncode_edit" style="display: none">
        <div id="commoncode_edit_content">
@*            @{
                Html.RenderPartial("EditKhdj", new CommonCode());
            }*@
        </div>
    </div>

</body>

<script type="text/javascript" src="@Url.Content("/Scripts/CommonCode/CommonCode.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CommonCode.TypeInfo("Khdj");
    });

</script>
