@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        
        <div style="color: red;font-weight: bold;">
            请注意，本产品为内测版本！
        </div>
        <div style="text-align: center;font-size: 20px;font-weight: bold;">
            服务热线：18653170063
            QQ：535872977
        </div>
        <div style="text-align: center;font-size: 16px;margin-top: 20px; font-weight: bold;">
            最专业玻璃加工企业工作平台！
            最大化满足客户的各种需求！
            产品不断完善，敬请期待！
        </div>
    </body>
</html>