HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px/1.5 Simsun, Arial, Helvetica, sans-serif; COLOR: #5a5a5a; PADDING-TOP: 0px
}
TH {
	FONT-FAMILY: Simsun, Arial, Helvetica, sans-serif; COLOR: #5a5a5a
}
TD {
	FONT-FAMILY: Simsun, Arial, Helvetica, sans-serif; COLOR: #5a5a5a
}
P {
	TEXT-ALIGN: justify; LINE-HEIGHT: 1.5; MARGIN: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.cb {
	CLEAR: both
}
.remark_y1 {
	COLOR: #d25b00
}
.ico_le {
	FLOAT: left
}
.btn_img {
	FLOAT: left
}
A {
	COLOR: #0984e2
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.w {
	COLOR: #fff; TEXT-DECORATION: none
}
A.w:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
UL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
UL LI {
	LINE-HEIGHT: 1.5; COLOR: #5a5a5a; FONT-SIZE: 12px
}
H1 {
	LINE-HEIGHT: 35px; MARGIN: 0px; FONT-SIZE: 18px
}
#bodyContainer {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#headerContainer {
	BORDER-BOTTOM: #3886c4 2px solid; WIDTH: 100%; HEIGHT: 65px; CLEAR: both
}
#headerContainer .himg {
	PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#headerContainer .slogan {
	MARGIN: 29px 20px 0px; FLOAT: left; COLOR: #707173; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#headerContainer .htext {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; FLOAT: right; COLOR: #5a5a5a; PADDING-TOP: 10px
}
#headerContainer .htext SPAN {
	PADDING-RIGHT: 5px
}
#headerContainer .hoper {
	MARGIN-TOP: 10px
}
#headerContainer A {
	COLOR: #0984e2; TEXT-DECORATION: none
}
#headerContainer A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
#copyright_simp {
	BACKGROUND-COLOR: #ffffff; MARGIN: 0px auto 4px; WIDTH: 960px; CLEAR: both; BORDER-TOP: 0px; PADDING-TOP: 0px
}
#copyright_simp .aboutus {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 130px; WIDTH: 680px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#copyright_simp .aboutus_bot {
	WIDTH: 960px; BACKGROUND: url(../../content/img/copyright.gif) no-repeat; HEIGHT: 19px
}
#copyright_simp .aboutus_bg {
	TEXT-ALIGN: center; BACKGROUND: #bdd9ee; COLOR: #5a5a5a
}
#copyright_simp .aboutus A {
	COLOR: #5a5a5a; TEXT-DECORATION: none
}
#copyright_simp .aboutus A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
#container {
	BACKGROUND-COLOR: #fff; MARGIN: 30px auto 0px; WIDTH: 960px
}
.login_ico {
	DISPLAY: block; BACKGROUND: url(../../content/img/login100122.gif); FLOAT: left
}
.login_bo_t {
	DISPLAY: block; BACKGROUND: url(../../content/img/login100122.gif) no-repeat
}
.login_bo_b {
	DISPLAY: block; BACKGROUND: url(../../content/img/login100122.gif) no-repeat
}
.login_bo_t {
	WIDTH: 368px; HEIGHT: 21px
}
.login_bo_b {
	WIDTH: 368px; BACKGROUND-POSITION: 0px -32px; HEIGHT: 23px
}
.login_bo {
	WIDTH: 368px; BACKGROUND: url(../../content/img/login1_bg.gif) repeat-y
}
.login_win {
	BORDER-BOTTOM: #e1e1e1 1px solid; MARGIN: 0px 6px
}
.login_win .ti {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 2; PADDING-LEFT: 30px; PADDING-RIGHT: 6px; FONT-SIZE: 16px; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
.login_win .login_ti_ico {
	WIDTH: 38px; BACKGROUND-POSITION: 0px -88px; HEIGHT: 30px
}
.login_cont {
	WIDTH: 368px; FLOAT: left
}
.login_win .label {
	TEXT-ALIGN: left; MARGIN: 15px 0px 0px; PADDING-LEFT: 15px
}
.login_win .label A {
	MARGIN: 10px 0px 0px 4px; TEXT-DECORATION: none
}
.login_win .label SPAN.lb {
	TEXT-ALIGN: right; MARGIN-TOP: 5px; WIDTH: 54px; FLOAT: left; MARGIN-RIGHT: 10px
}
.login_win .label INPUT {
	FONT-SIZE: 16px
}
.login_win .label .save {
	PADDING-LEFT: 60px; FONT-SIZE: 12px
}
.login_win LABEL.alert {
	TEXT-ALIGN: center; COLOR: red; FONT-WEIGHT: bold
}
.login_win INPUT.in {
	WIDTH: 180px; HEIGHT: 20px; FONT-SIZE: 12px
}
.login_win .btn {
	MARGIN-TOP: 12px; PADDING-LEFT: 79px
}
.login_win .no_acco {
	MARGIN: 32px 0px 20px 30px; FONT-SIZE: 14px
}
.slogin_win .no_acco {
	MARGIN: 32px 0px 20px 30px; FONT-SIZE: 14px
}
.login_win .no_acco A {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.login_win .no_acco A:hover {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.slogin_win .no_acco A {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.slogin_win .no_acco A:hover {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.login_win .login_nor_btn {
	LINE-HEIGHT: 2; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.login_win .login_clk_btn {
	LINE-HEIGHT: 2; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.login_win .login_safe_btn {
	LINE-HEIGHT: 2; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.login_win .login_nor_btn {
	WIDTH: 59px; BACKGROUND-POSITION: 0px -130px; HEIGHT: 21px
}
.login_win .login_safe_btn {
	MARGIN: 0px 0px 0px 10px; WIDTH: 59px; BACKGROUND-POSITION: 0px -60px; HEIGHT: 21px
}
.login_faq {
	PADDING-BOTTOM: 13px; MARGIN: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 18px
}
.login_faq UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.login_faq UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 2; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 140px; PADDING-RIGHT: 0px; FLOAT: left; FONT-SIZE: 12px; PADDING-TOP: 4px
}
.login_rightbar {
	MARGIN: 0px 0px 0px 10px; WIDTH: 559px; FLOAT: left
}
.login_client {
	MARGIN: 0px 0px 10px; WIDTH: 558px; BACKGROUND: url(../../content/img/login_client120808.jpg); HEIGHT: 199px
}
.login_mobile {
	WIDTH: 558px; BACKGROUND: url(../../content/img/login_mobile120808.jpg); HEIGHT: 199px
}
.login_download_btn {
	POSITION: relative; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 22px; WIDTH: 107px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -166px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 4px; TOP: 154px; LEFT: 25px
}
.login_downloadm_btn {
	POSITION: relative; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 22px; WIDTH: 107px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -166px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; COLOR: #fff; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 4px; TOP: 154px; LEFT: 25px
}
.login_downloadm_btn {
	TOP: 144px; LEFT: 25px
}
.login_bg {
	MARGIN: 0px 10px 0px 12px; HEIGHT: 420px
}
.error_msg {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 75px; PADDING-RIGHT: 0px; COLOR: #ff0000; PADDING-TOP: 10px
}
.error_msg UL LI {
	LINE-HEIGHT: 1.5; COLOR: #ff0000; FONT-SIZE: 12px
}
