@using Gms.Domain
@model Gms.Domain.EquiStoreOut
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>

    <div id="toolbar" style="padding: 5px; height: auto">
        <div style="margin-bottom: 5px">
            <a href="#" id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">添加出库单</a>
        </div>

        <div>
            
            出库单号：<input name="CodeNo" class="messager-input" />
            &emsp;用途：@Html.DropDownListForCommonCode(c=>c.EquiTo,CommonCodeType.物料用途,"EquiToId","全部")
            &emsp;出库人：<input name="UserName" class="messager-input" />

            &emsp;出库时间：<input name="CreateDateTime.Start" class="easyui-datetimebox" />
            至<input name="CreateDateTime.End" class="easyui-datetimebox" />

            <a href="#" id="equi_out_search" class="easyui-linkbutton search" iconcls="icon-search">搜索</a>
        </div>
    </div>
     
    <table id="equi_out_search_list" url="@Url.Action("StoreOutList","EquiStore")" >
            
    </table>


</body>
<script type="text/javascript" src="@Url.Content("/Scripts/equi/equistore.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        EquiStore.Out();
    });

</script>