@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body class="easyui-layout">
    
     
    <div data-options="region:'center'" style="padding:5px;">

        <div id="toolbar" style="padding: 5px; height: auto">

            <div>
                订单编号：<input name="CodeNo" class="messager-input" style="width: 80px" />
                客户姓名：<input name="CustomerName" class="messager-input" style="width: 80px" />
                客户手机号：<input name="CustomerMobile" class="messager-input" style="width: 80px" />
                创建日期：<input name="CreateTime.Start" class="easyui-datebox" style="width: 80px" />
                至<input name="CreateTime.End" class="easyui-datebox" style="width: 80px" />
                <a href="#" id="order_search" class="easyui-linkbutton search" iconcls="icon-search">搜索</a>
            </div>
            <div style="margin-bottom: 5px;">
                @*<a href="@Url.Action("CreateNew", "Order")" class="easyui-linkbutton" iconcls="icon-add" plain="true">添加</a>*@
                <a href="#" class="easyui-linkbutton del" forgid="order_search_list" iconcls="icon-remove" plain="true">删除</a>
                <a href="#@Url.Action("Edit", "Order")" class="easyui-linkbutton OrderInfo" iconcls="icon-edit" plain="true">修改</a>
                <a href="#@Url.Action("OrderPrint", "Order")" class="easyui-linkbutton OrderPrint" iconcls="icon-print" plain="true">打印</a>
            </div>
        </div>
        <table id="order_search_list" url="@Url.Action("List", "Order")" del="@Url.Action("Delete", "Order")">
        </table>
    </div>
    
    <div data-options="region:'south',title:'订单详情',split:true" style="height:400px;background:#eee;">
        
        <div id="EmptyDiv">
            点击订单，显示记录详细信息。
        </div>

        <iframe id="DetailDiv" style="width: 100%; height: 100%; border: none;">
            @*动态加载*@
        </iframe>
    </div>

    
    
    @*记录选择的订单，便于其他页面调用*@
    <div style="display: none;">
        <input id="order_selected_id" />
        <input id="order_selected_codeno" />
    </div>
    


</body>
<script type="text/javascript" src="@Url.Content("/Scripts/order/order.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Order.Init();
    });

</script>


