@charset "utf-8";

.red {
    color: #FF0000;
}

a.but_close {
    background: url("./images/top_icon_close.gif") no-repeat scroll 0 0 transparent;
    float: right;
    height: 14px;
    margin: 3px 5px 0 0;
    width: 14px;
} 
/* 
 public.css
*/

body {
  margin: 0px;
  padding: 0px;
  scrollbar-face-color: #dbebfe;
  scrollbar-shadow-color: #b8d6fa;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #dbebfe;
  scrollbar-darkshadow-color:#458ce4;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #458ce4;
}
body {font-size:12px;}
body, html { width:100%; height:100%;}
body, ul, li, form, p, dl, dt, dd { margin:0; padding:0;}
img { border:none;}
p { line-height:150%;}
.cb {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.nowrap{word-break:break-all;word-wrap:break-word}
a {outline: 0; /* for Forefox */ } 
a {star:expression(this.onFocus=this.blur()); /* for Ie*/ } 

.clear_float { clear:both;}
.float_left { float:left;}
.float_right { float:right;}

.alignRight {text-align: right;}

ul li.bgnone { background:none;}
.w100 {width: 100%;}
.h100 {height: 100%;}


.h1 {height: 420px;}
.h2 {height: 20%;}
.h3 {height: 26px;}

.widthSet1{width:60px;}
.widthSet2{width:80px;}
.widthSet3{width:120px;}
.widthSet4{width:20px;}
.widthSet5 {word-wrap:break-word;}
.widthSet6 {width: 80%}
.widthSet7 {width: 50%}
.widthSet8 {width: 20%;}
.widthSet9 {
  white-space:nowrap;
}
.widthSet9 h3 {
  width: auto;
  max-width: 69%;
}
.widthSet9 h4 {
  width: auto;
  max-width: 80%;
  height: 28px;
  padding: 0px;
}

.margin01 { margin-top:8px;}
.margin02 { margin-top:15px;}
.margin03 { margin-top:40px;}
.margin04 { margin:8px 0;}
.margin05 { margin-top:80px;}
.m_b {margin-bottom:15px;}
.con_margin {margin:5px 0 10px 0;}

.pT {padding-top: 12px;}
.pL {padding-left: 12px;}
.pL2 {padding-left: 78px;}
.pL3 {padding-left: 24px;}
.pR {padding-right: 12px;}
.pB {padding-bottom: 12px;}
.pAll1 {padding: 16px;}
.p1 {padding: 0px 6px 0px 6px;}


.mT {margin-top: 12px;}
.mB {margin-bottom: 12px;}
.mAll {margin: 32px;}


.vtop{vertical-align: top;}

.dashed { width:100%; height:1px; background:url(./images/dashed.gif) repeat-x;}
.bg { background:#f4f9ff}

.dashedBottom {
  padding-bottom: 12px;
  border-bottom: 1px #ccc dashed;
}
.sms_awoke_fixedH{
   height:64px;
}
.sms_awoke_fixedY{
   height:52px;
}
/*************************page css start***********************************************/

.sh_page {
	 height:23px;margin-top: 4px; padding: 0 8px
}
.sh_page a {color:#004499;text-decoration:none;}
.sh_page a:hover {color:#FF0000;text-decoration:none;}

.btn_sty {
	background-image: url(./images/f2.gif); background-repeat: repeat-x; background-position: 0px -453px;
    height: 20px; 
	cursor:hand!important; 
	cursor: pointer; 
	border: 1px solid #87a3c1; 
	background-color: #ddf0ff;
    font-size: 12px
}
.goto {
	width: 20px; height: 14px; padding: 0;  margin: 0; border: 1px solid #ccc
}
.btn_nxt {
	background-image: url(./images/f4.gif?v=1); background-repeat: no-repeat;
        border: 0; padding: 0; cursor: pointer; background-position: -14px -473px; width: 45px; height: 15px
}
.thirty_dis_ico,
.fifteen_dis_ico,
.fifty_dis_ico {
	cursor: pointer
}

.thirty_dis_ico {
	background-position: -524px -267px; width: 20px; height: 20px
}
.fifteen_dis_ico {
	background-position: -631px -267px; width: 20px; height: 20px
}
.fifty_dis_ico {
	background-position: -675px -267px; width: 20px; height: 20px
}

.thirty_clk_ico {
	background-position: -588px -267px; width: 20px; height: 20px
}
.fifteen_clk_ico {
	background-position: -610px -267px; width: 20px; height: 20px
}
.fifty_clk_ico {
	background-position: -653px -267px; width: 20px; height: 20px
}

.sh_page .ti{
	margin-top: 4px; margin-right: 10px; float: left
}

/*************************page css end***********************************************/


/*************************table css start***********************************************/
table { color:#000;}
table th {white-space:nowrap;}
.tab_lis {border:1px solid #d3d3d3;color: #5f5f5f}

.tab_list {border:1px solid #d3d3d3;}
.tab_list02 {border:1px solid #d3d3d3; table-layout:fixed;}

.tab_list th { line-height:20px; background: url(./images/commo/tab_title_bg.gif) repeat-x;font-weight:normal;}
.tab_list td {height:25px; line-height:25px;}
.tab_list th.va_t {vertical-align:top;} 
.tab_list02 th { height:24px; border-bottom:1px solid #d3d3d3;  line-height:25px; background:#e5e5e5; font-weight:normal;color: #5f5f5f}
.tab_list02 td {padding-left: 12px; height:25px; line-height:25px;word-wrap: break-word; }

.tr_hover:hover { background:#eeeeee}
table.prev_tab td{
	padding-bottom:8px;
}
/*************************add ***********************************************/
.tab_list th.left { 
	text-align: left;
}
.tab_list02 th.left {
	text-align: left;
}
.tab_list02 td.left {
	text-align: left;
}

#transfer {
  padding-left: 24px;
}

.tab_list03 {border:1px solid #d3d3d3;}
.tab_list03 th {line-height:20px; background: url(./images/commo/tab_title_bg.gif) repeat-x; font-weight:normal;}
.tab_list03 td {height:25px; line-height:25px;text-align: center;}
.tab_list03 td.left {text-align: left;}

/**tabs_iGoal***/
/**tabs_iGoal***/
.tabs_iGoal { height:25px; margin:0px 0px 12px 0px; position:relative;}
.tabs_iGoal ul {padding:0 10px; height:24px;position:absolute; top:0; z-index:2; list-style:none;}
.tabs_iGoal ul li { float:left; }
.tabs_iGoal ul li a { display:block;width:73px; height:18px; padding-top:7px; text-align:center;margin-right:3px;color:#143d59; background:url(./images/commo/tab_link.gif) no-repeat;}

.tabs_iGoal ul li a.cur {height:24px; margin-top:1px; font-weight:bold; background: url(./images/commo/tab_cur.gif) no-repeat; }
.tabs_iGoal ul li a.cur:hover { text-decoration:none; }
.tabs_iGoal_line {width:100%; height:1px;background:#ddd; position:absolute; bottom:0; _bottom:-1px; left:0; overflow:hidden}

.tabs_iGoal .enter_module { position:absolute; right:1px;height:18px; padding-top:6px; z-index:3;}


/* modify log add styles ************************************************/
.tabs_iGoal_line1 {font-size: 1px;}
/**详细页*****/
.tab_info {width: 100%; margin-bottom: 12px;}
.tab_info2 {margin-bottom:0;}
.tab_info th {width: 8%; text-align:right; line-height:25px; font-weight:normal;}
.tab_thwidth th {width:35%;}
.tab_info td { text-align:left; line-height:25px;}
.tab_info th.va_t { vertical-align:top;}



/*************************table css end***********************************************/

/*************************attention css start***********************************************/
.ico_cnt {
	background-image: url(./images/commo/f4.gif); background-repeat: no-repeat;
}
.ico_cnt {
	display: block; margin: 0 auto;
}
.tnor_label_ico {
	background-position: -322px -299px; width: 16px; height: 16px; cursor: pointer
}
.tnor_label_cnt_ico {
	background-image: url(./images/commo/nor_label_cnt.gif); background-repeat: no-repeat; font-size: 16px; cursor: pointer;
}

/*************************attention css end***********************************************/

.error1 {
  background:url("./images/pic0038.png") left center no-repeat;
  padding:1px 0px 0px 16px;
  margin: 0px 0px 0px 6px;
  color:#C53032;
}

a.w_close { float:right; display:block;width:45px; height:17px; margin:10px 13px 0 0;_margin:10px 6px 0 0; background:url(./images/icon_window_close.gif) no-repeat;}
a.w_close:hover { display:block;width:45px; height:17px; background:url(./images/icon_window_close.gif) 0 -17px no-repeat;}

.s_space_tipinfo { margin:10px 0 20px; height:35px; line-height:35px; background:#fdfce6; border:1px solid #d7d199; padding:0 5px;}
.s_pace_tipcon { height:auto; margin:10px 20px 0; padding-bottom:10px; }
.s_pace_tipcon table.rtable_2rows { margin-bottom:30px;}

/*******************main.css middle content ***********************/
.m_serach { float:right; margin-right:2px;_margin-right:0;}
.m_serach2 { display:block;width:auto; height:22px;margin-right:2px;}

ul.m_list {width:226px;height:87%; overflow-y:auto;overflow-x:hidden;}
ul.m_list li {width:226px; height:26px; line-height:26px;overflow: hidden}
.m_page { position: absolute; bottom:9px;right:15px;}

ul.m_list2 { width:auto; height:auto; margin-top:5px;clear:both;}
ul.m_list2 li {width:100%; height:20px; line-height:20px; padding:8px 0 0 0;overflow: hidden;margin:0px 1px;}
ul.m_list2 li.hover_bg {width:100%; height:20px; line-height:20px; padding:8px 0 0 0;overflow: hidden;margin:0px 1px;color: #004499background:#f1f1f1;}

ul.m_list2 li input, ul.m_list2 li img  { float:left;}

/* modify log add css start*/
ul.m_list2 li a.nofl {float: none; line-height: 1.6;}
/* modify log add css end*/
/*******************right Arear ***********************/

.r_project_title {padding:0 0 0 2px;overflow: hidden;white-space: nowrap;float:left;}
.r_p_t_info { padding:0 80px 0 0; margin-top:-15px;}
.r_t_opera { float:left; margin-left:10px;line-height: 22px;color: #6f6f6f;}
.r_view {width:66px; height:21px; position: absolute; top:10px; right:10px;}
.r_view2 {width:66px; height:21px; position: absolute; top:3px; right:1px;}

.r_toolbar {height:40px; position:relative;background:url(./images/toolbar_bg.gif) repeat-x; overflow:hidden;}
.r_t_sub {text-align:center}
.r_t_box {width:54px; height:38px;margin-top:1px;background: url(./images/r_t_box.gif) no-repeat; text-align:center;}
.r_toolbar_tipDiv {width:222px; position:absolute; z-index:9999;}
.r_toolbar_tipDiv_con { clear:both;width:199px; padding:5px; color:#535353; border:1px solid #d7d199; background:#fdfce6; text-align:left;}

.r_toolbar_tipDiv .img_arrow { width:9px; height:6px;float:left;margin:0px 0 -1px 8px}
.r_toolbar_tipDiv .img_arrow02 { width:9px; height:6px;float:right;margin:-1px 40px 0 0}
.r_t_icon {width:18px;height:16px;  background:url(./images/icon_toolbar.gif) no-repeat; float:left; display:block;}
.r_main_title_icon_margin { margin:4px 5px 0 0;}
.r_t_icon_margin { margin:4px 0px 3px 10px; _margin:4px 0px 3px 5px;}
.r_t_icon_tree_margin { margin:0px 0px 3px 6px; _margin:0px 0px 3px 3px;}
.r_t_icon_memo {background-position:0px -16px;}
.r_t_icon_memo_disable {background-position:-18px -16px;}
.r_t_icon_email {background-position:0px -32px;}
.r_t_icon_email_disable {background-position:-18px -32px;}
.r_t_icon_doc {background-position:0px -48px;}
.r_t_icon_doc_disable {background-position:-18px -48px;}
.r_t_icon_talk {background-position:0px -64px;}
.r_t_icon_talk_disable {background-position:-18px -64px;}
.r_t_icon_log {background-position:0px -80px;}
.r_t_icon_log_disable {background-position:-18px -80px;}
.r_t_icon_plan {background-position:0px -96px;}
.r_t_icon_plan_disable {background-position:-18px -96px;}
.r_t_icon_approve {background-position:0px -112px;}
.r_t_icon_approve_disable {background-position:-18px -112px;}
.r_t_icon_notice {background-position:0px -128px;}
.r_t_icon_notice_disable {background-position:-18px -128px;}
.r_t_icon_bbs {background-position:0px -144px;}
.r_t_icon_bbs_disable {background-position:-18px -144px;}
.r_t_icon_vote {background-position:0px -160px;}
.r_t_icon_vote_disable {background-position:-18px -160px;}
.r_t_icon_knowledge {background-position:0px -176px;}
.r_t_icon_knowledge_disable {background-position:-18px -176px;}
.r_t_icon_job {background-position:0px -192px;}
.r_t_icon_project  {background-position:0px -208px;}
.r_t_icon_project_disable  {background-position:-18px -208px;}
.work_box {background-position:0px 0px;margin:2px 0px 4px 16px; _margin:2px 0px 4px 8px;}
.work_box_disable {background-position:-18px 0px;margin:2px 0px 4px 16px; _margin:2px 0px 4px 8px;}
.r_t_text {clear:left; display:block;}
.r_t_line {width:3px; height:31px; margin:6px 5px 3px; background: url(./images/toolbar_line.gif) repeat-y;}
.r_t_more {width:7px; height:8px; float:right; position:absolute; top:17px; right:8px;}
.r_t_more_div { position:absolute;z-index:9999; top:100px; right:1px;width:40px; height:auto; padding:10px; text-align:center; border:1px solid #9b9b9c; background:#ededec; overflow:hidden;}
.r_t_more_div a { margin-top:5px;}

.r_main {height:75%; padding:0 0 13px 0;background:#FFF;overflow-y:auto;overflow-x:hidden; position:relative;}
.r_main ul, .r_main ul li { display:blockj; list-style:none;}
.r_main_title { height:60px; margin:13px 7px 0; padding-top:33px; text-align:center;}
.r_main_title h1 { margin-bottom:10px;}
.r_main_title h1, .r_main_title  p { overflow:hidden;}
.r_main_title_view { position:absolute; left:0; top:3px;}
.r_main_title_opera { position:absolute; right:5px; top:3px;}

.select  { border-width:3px 3px 0 3px; border-style:solid; border-color:#e94946;;}

.r_icon { float:left; margin:6px 0px 0px 0px;}
.r_icon_margin { float:left; margin:25px 10px 0px 0px;}

.r_main_title_area { height:auto; line-height:24px; padding:0 5px 0 0; margin-bottom:8px;}
.r_main_title_name {width:auto; float:left; padding:2px 0 0 3px;font-size:14px;}
.r_main_title_info { display:block;margin-left:55px; padding:2px 0 0 15px; color:#7d7d7d;}

.r_respond_area { padding:0 0 10px 10px;}
.r_readcon_top { margin:5px 0 15px 0; padding-left:26px;}
.r_readcon_top ul li{line-height:20px;}
.r_readcon, .r_respond_area { margin:5px 0;}
.r_readcon ul, .r_readcon ul li, .r_readcon_top ul, .r_readcon_top ul li, .r_readcon_con ul, .r_readcon_con ul li { display:block; list-style:none;}
.r_respond_area { margin-top:12px;}
.r_readcon_con { padding:0 4px 0 26px;}

.r_readcon_marginT { margin-top:15px;}
ul.r_readcon_accessories li { height:18px; line-height:18px; margin-bottom:3px;}
.r_readcon_name { height:25px; line-height:25px;}
.r_readcon_info  { padding-left:24px; margin-bottom:15px;}
.r_readcon_info dl { display:block; height:auto; line-height:20px; color:#888888; }
.r_readcon_info dt { float:left; width:auto;white-space:nowrap;}
.r_readcon_info dd {width:auto; white-space:nowrap;}
.r_readcon_more {width:56px; height:20px; line-height:20px; display:block; background:url(./images/icon_triangle.gif) no-repeat right center;}
.r_readcon_sub_title { height:25px; line-height:25px; padding-left:24px;}
.r_readcon_con p {
   margin-bottom:5px;
}
.talk_con { padding-left:24px;}

.talk_con2 {
  margin: 0px 0px 0px 24px;
}
.talk_con dt {
  margin: 6px 0px 0px 0px;
}
.talk_con dd {
  margin: 6px 0px 12px 12px;
}
.r_readcon_con2 {
  margin: 0px 12px 0px 12px;
  padding: 0px 12px 0px 12px;
}
.r_readcon_con2 p {
  line-height: 26px;
}


ul.r_respond { width:auto;padding:5px; margin-top:3px\9; color:#535353; border:1px solid #d7d199; background:#fdfce6;}
ul.r_respond li {word-wrap:break-word;word-break:break-all; height:auto!important; height:25px; min-height:25; line-height:15px; padding:8px 2px; background:url(./images/dashed.gif) left bottom repeat-x}
ul.r_respond li.bgnone { background:none;}
ul.r_respond span {padding-left: 12px;}
ul.r_respond .ke-outline span{padding-left: 2px;}
ul.r_respond li ul, ul.r_respond li ol{margin:0;}
ul.r_respond li ul{padding-left:40px;}
ul.r_respond li ul li{
	list-style:inside disc;
}
ul.r_respond li ol li{
	list-style:inside decimal;
}
ul.r_respond li ul li, ul.r_respond li ol li{
	background:none; margin:0; padding:0; list-style-position:outside; line-height:1.4;
}
.img_trigon { height:6px; width:9px; float:right; margin:0px 10px -2px 0; margin:0px 10px -1px 0\9; *margin:0px 10px -4px 0;}
.img_trigon2 { height:6px; width:9px; float:left; margin:0px 0px -1px 10px;  *margin:0px 0px -2px 10px;}

.window_con {
	width:412px;  
	height:auto!important; 
	height:10px; 
	min-height:10px; 
	background:url(./images/window_con_border.png) repeat-y;
}
.window_con ul, .window_con ul li { display:block; list-style:none;}
.window_con_bg {
	width:380px; 
	height:auto!important; 
	height:10px; 
	min-height:10px; 
	margin-left:11px; 
	background:#ebecec url(./images/window_con_bg.gif) repeat-x;
}
.window_con_box {
  width:364px;
  padding:10px;
  margin-left:2px;
  border:1px solid #adadad;
  word-wrap:break-word;
  word-break:break-all;
  background: #fff url(./images/warning_01.png) 16px 22px no-repeat;
  
}
.window_con_box2 {
  width:364px;
  padding:10px;
  margin-left:2px;
  border:1px solid #adadad;
  background: #fff;
  word-wrap:break-word;
  word-break:break-all;
}
.window_con_box2 {
  width:364px;
  padding:10px;
  margin-left:2px;
  border:1px solid #adadad;
  background: #fff;
  word-wrap:break-word;
  word-break:break-all;
}
.window_con_box3 {
  width:367px;
  padding:10px;
  margin-left:2px;
  border:1px solid #adadad;
  background: #fff;
  word-wrap:break-word;
  word-break:break-all;
}

.window_con_box2 ul, .window_con_box2 ul li, .window_con_box ul, .window_con_box ul li { display:block; list-style:none;}
.window_con_box_fix {height:340px; overflow-x:hidden; overflow-y:auto;}
.window_con_box_fix ul, .window_con_box_fix ul li { display:block; list-style:none;}
.w_top {
	width:412px; 
	height:40px; 
	background: url(./images/circle_top_bg.png) no-repeat;
}
.w_bottom {
	width:392px; 
	height:39px; 
	text-align:right; 
	padding:7px 14px 0 6px; 
	background:url(./images/circle_bottom_bg.png) no-repeat;
}
.w_bottom_03 {width:392px; height:39px; padding:7px 14px 0 6px; background:url(./images/circle_bottom_bg.png) no-repeat;}

.w_bottom_but { text-align:right; height:26px; padding:5px 3px 0 0; background:url(./images/tool_windows_opera_bg.gif) repeat-x;}
.w_title { margin:20px 0 0 16px;_margin:20px 0 0 8px;  color:#4a4a4a; float:left; font-size:12px;}

.w_tips {width:338px; height:auto; border:1px solid #ffbf00; background:#fffdef url(./images/w_tips_bg.gif) repeat-x top left;}
.w_tips_title { height:27px; line-height:28px; padding-left:8px; border-bottom:1px solid #ffbf00;}
.w_tips_con { padding:15px 8px 8px 8px; height:auto;}
.w_tips_text { clear:both; display:block; background:url(./images/warning_01.gif) no-repeat; padding:0 0 0 30px; line-height:18px;}
.w_tips_but { text-align:center; margin-top:15px; display:block;}

.w_sort_tip {margin:8px; line-height:23px;}

.w_sort_tip_clew {padding: 0px 0px 0px 24px; padding: 12px 0px 0px 24px\9; margin:8px; line-height:23px;}
.img_tip {width:16px; height:16px; margin:3px 15px 0 20px; float:left}

.blue_bg {
  background: url(./images/sort_hover_bg.gif) left center repeat-x;
}
.textareawh_pop  {
	width: 340px; height: 72px; font-size: 12px;
}
.new_iGoal {
  width: 100%;
}
.new_iGoal th {
  text-align: right;
  font-weight: normal;
  padding: 9px 0px;
  vertical-align: top;
}
.new_iGoal span {
  color: #f00;
}
/*--------------------- edit memo popupWindow start -----------------------------------------*/

.mome_a_text {
	margin: 0;
  padding: 10px 18px 14px 0;
}

/*--------------------- edit message window popupWindow start -----------------------------------------*/
#winpop {
  width:260px;
  height:0px;
  position:absolute;
  right:0;
  bottom:0;
  border:1px solid #85b9dc;
  margin:0;
  padding:1px;
  overflow:hidden;
  display:none;
  background:#fcfeff;
  z-index:9999999999999999;

}
 .title {
  width:100%;
  height:20px;
  line-height:20px;
  border-bottom: 1px #4d95ac solid;
  background: #c5e3f5 url("./images/pic0030.png") 6px center no-repeat;
}
.con {
  width:300px;
  height:122px;
}
.flip {
  height:20px;
  line-height: 20px;
  background:#e1f0f3;
  text-align: right;
}
.title_con {
  padding-left: 24px;
  color: #213b56;
  line-height: 20px;
}
.note {
  padding: 24px;
  text-indent: 2em;
  color: #03a032;
  line-height: 160%;
}
.r_r_c_conlist { margin:5px 0; height:auto;}
.r_r_conname { line-height:18px; margin-left:25px;}
.img_toolbar_tipDiv_close {width:5px; height:5px; position:absolute;right:20px;}
/* fix bug*/
a:hover {
    color: #FF0000;
    text-decoration: underline;
}
.wrongtip_nowh2 {
    background: none repeat scroll 0 0 #FFFFDB;
    border: 1px solid #D7D199;
    color: #FF0000;
    line-height: 26px;
    margin: 2px 0 0;
    padding: 0 2px;
    width:340px;
}

.wrongtip_nowh2 a{
   color:#004499;
}
.wrongtip_nowh2 a:hover{
   color:red;
}