@using Gms.Domain
@model int

@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";

    String strUrl = "/Contact/List";

    if (Model > 0)
    {
        strUrl += ("?RelationPersonId=" + Model);
    }
}

<body>

    <div id="toolbar" style="padding: 5px; height: auto">
        
        <div style="margin-bottom: 5px">
            <a href="#@Model" id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">添加</a>
            <a href="#" class="easyui-linkbutton del" forgid="contact_search_list" iconcls="icon-remove" plain="true">删除</a>
            <a href="#" id="btnEdit" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>
        </div>
     
    </div>
     
    <table id="contact_search_list" url="@strUrl" del="@Url.Action("Delete","Contact")">
            
    </table>
    
@*    <div id="contact_search_edit" dlgtitle="联系人信息" style="display: none">
        @{
            Html.RenderPartial("Edit", new Contact());
        }
    </div>*@
        
        
</body>
<script type="text/javascript" src="@Url.Content("/Scripts/Contact/Contact.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Contact.Init();
    });

</script>